@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
  --font: 'Nunito Sans', sans-serif;
  --Light-Mode-Background: hsl(0, 0%, 98%);
  --Light-Mode-hover: hsl(209, 23%, 22%);
  --light-mode-hover-text: hsl(0, 0%, 100%);
  --light-mode-text: hsl(200, 15%, 8%);
  --Light-Mode-Input: hsl(0, 0%, 52%);
  --Light-Mode-Elements: hsl(0, 0%, 100%);
  --shadow-navbar: rgba(0, 0, 0, 0.3);
}
html[data-color-mode='dark'] {
  --Light-Mode-Background: hsl(207, 26%, 17%);
  --light-mode-text: hsl(0, 0%, 100%);
  --Light-Mode-Elements: hsl(209, 23%, 22%);
  --Light-Mode-hover: hsl(0, 0%, 100%);
  --light-mode-hover-text: hsl(209, 23%, 22%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* not found */
.not-found {
  position: absolute;
  width: 100%;
  height: auto;
  display: grid;
  z-index: 1;
  margin-top: 0;
  color: var(--light-mode-text);
  font-family: var(--font);
  font-weight: 600;
  place-items: center;
  text-align: center;
}
/* loading */

@-webkit-keyframes building-blocks {
  0%,
  20% {
    opacity: 0;
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }
  30%,
  70% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  90%,
  100% {
    opacity: 0;
    -webkit-transform: translateY(300%);
    transform: translateY(300%);
  }
}
@keyframes building-blocks {
  0%,
  20% {
    opacity: 0;
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }
  30%,
  70% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  90%,
  100% {
    opacity: 0;
    -webkit-transform: translateY(300%);
    transform: translateY(300%);
  }
}

.building-blocks {
  position: absolute;
  width: 100%;
  display: grid;
  height: 70px;
  place-items: center;
}
.building-blocks div {
  height: 20px;
  position: absolute;
  width: 20px;
}
.building-blocks div:after {
  -webkit-animation: building-blocks 2.1s ease infinite backwards;
  animation: building-blocks 2.1s ease infinite backwards;
  background: var(--Light-Mode-hover);
  content: '';
  display: block;
  height: 20px;
  width: 20px;
}
.building-blocks div:nth-child(1) {
  -webkit-transform: translate(-50%, -50%) translate(60%, 120%);
  transform: translate(-50%, -50%) translate(60%, 120%);
}
.building-blocks div:nth-child(2) {
  -webkit-transform: translate(-50%, -50%) translate(-60%, 120%);
  transform: translate(-50%, -50%) translate(-60%, 120%);
}
.building-blocks div:nth-child(3) {
  -webkit-transform: translate(-50%, -50%) translate(120%, 0);
  transform: translate(-50%, -50%) translate(120%, 0);
}
.building-blocks div:nth-child(4) {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.building-blocks div:nth-child(5) {
  -webkit-transform: translate(-50%, -50%) translate(-120%, 0);
  transform: translate(-50%, -50%) translate(-120%, 0);
}
.building-blocks div:nth-child(6) {
  -webkit-transform: translate(-50%, -50%) translate(60%, -120%);
  transform: translate(-50%, -50%) translate(60%, -120%);
}
.building-blocks div:nth-child(7) {
  -webkit-transform: translate(-50%, -50%) translate(-60%, -120%);
  transform: translate(-50%, -50%) translate(-60%, -120%);
}
.building-blocks div:nth-child(1):after {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
.building-blocks div:nth-child(2):after {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.building-blocks div:nth-child(3):after {
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
}
.building-blocks div:nth-child(4):after {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.building-blocks div:nth-child(5):after {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}
.building-blocks div:nth-child(6):after {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
.building-blocks div:nth-child(7):after {
  -webkit-animation-delay: 1.05s;
  animation-delay: 1.05s;
}

main.template-detail {
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  transition: 0.2s;
  top: 0;
  background: var(--Light-Mode-Background);
  left: 0;
  width: 100%;
  height: 100vh;
  padding-bottom: 2em;
}

/* CODE FOR NAVBAR */
nav.nav-home {
  box-shadow: 0 0em 1em -5px var(--shadow-navbar);
  padding: 1em 0.5em;
  background: var(--Light-Mode-Elements);
  font-family: var(--font);
}
.nav-home .nav-title {
  font-weight: 800;
  color: var(--light-mode-text);

  transition: 0.3s;
}

.btn-mode {
  transition: 0.3s;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  outline: none;
  color: var(--light-mode-text);
  border: none;
  background: transparent;
  font-weight: 600;
  text-transform: capitalize;
}
.btn-mode:active {
  border: none;
}

/* CODE FOR SECTION CONTAINER MAIN DETAIL */

section.c-main-detail {
  margin-top: 3em;
  position: relative;
}

.c-main-detail .btn-back {
  position: relative;
  outline: none;
  border: none;
  padding: 0.5em 1.5em;
  background: var(--Light-Mode-Elements);
  color: var(--light-mode-text);
  border-radius: 0.2em;
  user-select: none;
  text-decoration: none;
  font-family: var(--font);
  font-weight: 300;
  box-shadow: 0 0em 0.5em 1px var(--shadow-navbar);
}

.btn-back i {
  margin-right: 0.2em;
}

section.container-country-detail {
  margin-top: 3em;
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  grid-auto-rows: auto;
  position: relative;
  padding: 0;
}

.container-country-detail .item-detail {
  position: relative;
  width: 100%;
  height: 300px;
}

.container-country-detail .detail-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.container-country-detail .detail-description {
  padding: 2em 1em 1em 6em;
  font-family: var(--font);
  color: var(--light-mode-text);
}
.detail-description .title-detail {
  font-weight: 800;
}
.detail-description .description {
  position: relative;
  width: 100%;
  margin-top: 1.5em;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 0.8fr;
}

.description .left,
.right {
  width: 100%;
  height: auto;
}

.description p {
  font-weight: 600;
  margin-bottom: 2px;
  color: var(--light-mode-text);
  font-size: 0.8em;
  text-transform: capitalize;
}
.description p.top-level-domain {
  text-transform: lowercase;
}
.description p span {
  color: var(--light-mode-text);
  font-weight: 300;
}

.footer-description {
  display: grid;
  font-family: var(--font);
  width: 100%;
  color: var(--light-mode-text);
  grid-template-columns: auto 1fr;
  grid-auto-rows: 35px;
  gap: 0.5em;
}

.footer-desc-item {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
}
.footer-text {
  font-size: 0.8em;
  font-weight: 600;
}

.footer-info-right {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.5em;
}
.footer-info-right button {
  border: none;
  text-transform: capitalize;
  color: var(--light-mode-text);
  background: var(--Light-Mode-Elements);
  padding: 0.1em 0.8em;
  border-radius: 0.2em;
  box-shadow: 0 0em 0.5em 2px var(--shadow-navbar);
  cursor: auto;
}

@media screen and (max-width: 1000px) {
  section.container-country-detail {
    grid-template-columns: 1fr;
    grid-template-rows: 300px auto;
  }

  .container-country-detail .item-detail {
    height: auto;
  }
  .container-country-detail .detail-description {
    padding: 2.5em 3em 1em;
  }
  .detail-description .description {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 530px) {
  .footer-description {
    grid-template-columns: auto;
    grid-auto-rows: 35px;
    gap: 0.2em;
    z-index: 3;
  }
}
@media screen and (max-width: 500px) {
  .container-country-detail .detail-description {
    padding: 2.5em 1em 1em;
  }

  .detail-description .description {
    grid-template-columns: 1fr;
    gap: 1em;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 350px) {
  .footer-info-right button {
    flex: 1;
    padding: 0.2em 0;
  }
}
